<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easy</key>
	<dict>
		<key>status</key>
		<string>0</string>
		<key>desc</key>
		<string></string>
		<key>enable</key>
		<true/>
		<key>dragable</key>
		<false/>
		<key>touch</key>
		<dict>
			<key>before</key>
			<string></string>
			<key>onaction</key>
			<array>
				<dict>
					<key>after</key>
					<string>ferry ball</string>
					<key>condition</key>
					<string>easy-3,ferry ball-1</string>
					<key>action</key>
					<string>animation-catchball</string>
				</dict>
				<dict>
					<key>after</key>
					<string></string>
					<key>condition</key>
					<string>easy-3,mirror-1 || easy-3</string>
					<key>action</key>
					<string>animation-notreacheasy</string>
				</dict>
				<dict>
					<key>after</key>
					<string>knite stick</string>
					<key>condition</key>
					<string>easy-2,knite stick-1</string>
					<key>action</key>
					<string>animation-knickstickplay, animation-jump</string>
				</dict>
				<dict>
					<key>after</key>
					<string></string>
					<key>condition</key>
					<string>easy-2,ferry ball-1 || easy-2,mirror-1</string>
					<key>action</key>
					<string>tip-knick stick</string>
				</dict>
				<dict>
					<key>after</key>
					<string>chair</string>
					<key>condition</key>
					<string>easy-0,basket-1</string>
					<key>action</key>
					<string>animation-jump</string>
				</dict>
				<dict>
					<key>condition</key>
					<string>default</string>
					<key>action</key>
					<string>tips-nothing happen</string>
				</dict>
				<dict>
					<key>after</key>
					<string>window</string>
					<key>condition</key>
					<string>easy-1,chair-1</string>
					<key>action</key>
					<string>animation-jump</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>mirror</key>
	<dict>
		<key>listeningList</key>
		<array/>
		<key>reversable</key>
		<false/>
		<key>status</key>
		<string>0</string>
		<key>desc</key>
		<string></string>
		<key>enable</key>
		<false/>
		<key>dragable</key>
		<true/>
		<key>touch</key>
		<dict>
			<key>before</key>
			<string></string>
			<key>onaction</key>
			<array>
				<dict>
					<key>condition</key>
					<string>mirror-0</string>
					<key>action</key>
					<string>action-GET</string>
				</dict>
				<dict>
					<key>condition</key>
					<string>paiting-1</string>
					<key>action</key>
					<string>action-SHOW,animation-SHOW</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>basket</key>
	<dict>
		<key>listeningList</key>
		<array>
			<string>easy</string>
		</array>
		<key>reversable</key>
		<true/>
		<key>status</key>
		<string>0</string>
		<key>desc</key>
		<string></string>
		<key>enable</key>
		<true/>
		<key>dragable</key>
		<false/>
		<key>touch</key>
		<dict>
			<key>before</key>
			<string>animation-basketshake</string>
			<key>onaction</key>
			<array>
				<dict>
					<key>condition</key>
					<string>basket-1</string>
					<key>action</key>
					<string>animation-closebasket</string>
				</dict>
				<dict>
					<key>condition</key>
					<string>basket-0</string>
					<key>action</key>
					<string>animation-openbasket</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>chair</key>
	<dict>
		<key>reversable</key>
		<false/>
		<key>status</key>
		<string>0</string>
		<key>desc</key>
		<string></string>
		<key>enable</key>
		<true/>
		<key>dragable</key>
		<false/>
		<key>touch</key>
		<dict>
			<key>before</key>
			<string></string>
			<key>onaction</key>
			<array>
				<dict>
					<key>condition</key>
					<string>default</string>
					<key>action</key>
					<string>tips-nothing happen</string>
				</dict>
				<dict>
					<key>condition</key>
					<string>easy-1</string>
					<key>action</key>
					<string>animation-chairshake</string>
				</dict>
			</array>
			<key>after</key>
			<string></string>
		</dict>
	</dict>
	<key>door</key>
	<dict>
		<key>status</key>
		<string>0</string>
		<key>desc</key>
		<string></string>
		<key>enable</key>
		<true/>
		<key>dragable</key>
		<false/>
		<key>touch</key>
		<dict>
			<key>before</key>
			<string></string>
			<key>onaction</key>
			<array>
				<dict>
					<key>condition</key>
					<string>default</string>
					<key>action</key>
					<string>tips-nothing happen</string>
				</dict>
				<dict>
					<key>condition</key>
					<string>0001-2</string>
					<key>action</key>
					<string>animation-openbox</string>
				</dict>
			</array>
			<key>after</key>
			<string>0003</string>
		</dict>
	</dict>
	<key>furry ball</key>
	<dict>
		<key>reversable</key>
		<false/>
		<key>status</key>
		<string>0</string>
		<key>desc</key>
		<string></string>
		<key>enable</key>
		<true/>
		<key>dragable</key>
		<true/>
		<key>touch</key>
		<dict>
			<key>before</key>
			<string></string>
			<key>onaction</key>
			<array>
				<dict>
					<key>after</key>
					<string></string>
					<key>condition</key>
					<string>easy-4</string>
					<key>action</key>
					<string>action-GONE</string>
				</dict>
				<dict>
					<key>after</key>
					<string></string>
					<key>condition</key>
					<string></string>
					<key>action</key>
					<string>actioni-GET</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>knite stick</key>
	<dict>
		<key>reversable</key>
		<false/>
		<key>status</key>
		<string>0</string>
		<key>desc</key>
		<string></string>
		<key>enable</key>
		<true/>
		<key>dragable</key>
		<true/>
		<key>touch</key>
		<dict>
			<key>before</key>
			<string></string>
			<key>onaction</key>
			<array>
				<dict>
					<key>condition</key>
					<string>easy-3</string>
					<key>action</key>
					<string>action-GONE</string>
				</dict>
				<dict>
					<key>condition</key>
					<string></string>
					<key>action</key>
					<string>action-GET</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>paiting</key>
	<dict>
		<key>reversable</key>
		<false/>
		<key>status</key>
		<string>0</string>
		<key>desc</key>
		<string></string>
		<key>enable</key>
		<true/>
		<key>dragable</key>
		<false/>
		<key>touch</key>
		<dict>
			<key>before</key>
			<string></string>
			<key>onaction</key>
			<array>
				<dict>
					<key>after</key>
					<string>mirror</string>
					<key>condition</key>
					<string></string>
					<key>action</key>
					<string>animation-paintingmove</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>bed</key>
	<dict>
		<key>status</key>
		<string>0</string>
		<key>desc</key>
		<string>A bed</string>
		<key>enable</key>
		<true/>
		<key>dragable</key>
		<false/>
		<key>touch</key>
		<dict>
			<key>before</key>
			<string></string>
			<key>onaction</key>
			<array>
				<dict>
					<key>condition</key>
					<string>default</string>
					<key>action</key>
					<string>tips-nothing happen</string>
				</dict>
				<dict>
					<key>condition</key>
					<string>0001-2</string>
					<key>action</key>
					<string>animation-openbox</string>
				</dict>
			</array>
			<key>after</key>
			<string>0003</string>
		</dict>
	</dict>
	<key>desk</key>
	<dict>
		<key>texture</key>
		<string>desk</string>
		<key>status</key>
		<string>0</string>
		<key>desc</key>
		<string>Adesk</string>
		<key>enable</key>
		<true/>
		<key>dragable</key>
		<false/>
		<key>touch</key>
		<dict>
			<key>before</key>
			<string>effects-SHINE</string>
			<key>onaction</key>
			<array>
				<dict>
					<key>condition</key>
					<string>default</string>
					<key>action</key>
					<string>tips-you can only pick me up when 0002 and 0003 are both active</string>
				</dict>
				<dict>
					<key>condition</key>
					<string>0002-1,0003-1</string>
					<key>action</key>
					<string>action-GET</string>
				</dict>
			</array>
			<key>after</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
